
.my-btn-style {
-fx-background-color: linear-gradient(#f00 , #000 );
/*-fx-rotate: 90deg;*/
-fx-font-size: 16px;
-fx-text-fill: #000;
}

.my-btn-style:hover {
-fx-background-color: linear-gradient(#f00 , #000 );

-fx-font-size: 16px;
-fx-fill-width: true;
-fx-text-fill: #0f0;
}

.text-field{
-fx-border-width: 2px;
-fx-border-color: linear-gradient(#f00 , #000 );
-fx-border-radius:5px;
-fx-font-color: red;/*not work*/
}
